/*       //////////     Configurações dos elementos em geral    /////////      */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

a{
    text-decoration: none;
    color: black;
}

/*          /////////            Estilos prontos            /////////        */

.mw1000{
    max-width: 1100px;
    margin: auto;
}

/*          ////////              Pagina de Rosto             /////           */

.front-cover{
    height: 100vh;
    width: 100%;
    background-image: url(assets/imgs/poster-front-cover.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

/*       //////////////////////////// Top Bar //////////////////////////////// */

.top-bar{
    position: relative;
    backdrop-filter: blur(5px);
    background-color: #00000036;
}

footer.top-bar, #navs{
    display: none;
} 

.top-bar img{
    width: 26px;
    padding: 3px;
    transform: scale(1);
    transition: transform 0.5s;
}

.email img, .adress img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
}

.top-bar a{
    color: white;
}

.social-medias a:hover img{
    transform: scale(1.2)
}

.email:hover img, .adress:hover img{
    transform: scale(1.2) translateY(-50%)
}

.top-bar a:hover img{
    background-image: radial-gradient(white, #00000036 80%);
}

.email, .adress{
    display: inline-block;
}

.email{
    margin-left: 40px;
}

.adress img{
    width: 15px;
    margin-left: 10px;
}

.top-bar p{
    float: right;
    padding: 10px 35px 4px;
}

.social-medias{
    float: right;
    padding: 2px 35px;
}

.social-medias img{
    margin-right: 10px;
}

/* /////////////////////////////////// Header //////////////////////////////// */

header{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.355);
    backdrop-filter: blur(10px);
}

header img{
    width: 100px;
}

.small-screens{
    display: none;
}

/* Barra de Navegação */

nav{
    width: calc(100% - 140px);
    padding: 20px;
    border-bottom: 1px solid black;    
}

menu{
    width: 100%;
    margin-bottom: 20px;
    margin-top: -35px;
}

menu li{
    background-color: rgba(0, 0, 0, 0.355);
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 3px;
}

nav ul, menu ul{
    list-style-type: none;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

menu ul{
    flex-direction: column;
}

nav a, menu a{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bolder;
    color: #F2F2F2;
    transform: scale(1);
}

nav a:hover, menu a:hover{
    font-size: 1.35em;
    transition: 0.5s;
    border-bottom: 2px solid yellow;
    animation-duration: 0.5s;
    color: yellow;
    text-shadow: 1px 1px 1px black;
}

menu li:hover{
    background-color: black;
    transition: 0.5s;
    border: 2px solid yellow;
    animation-duration: 0.5s;
    color: yellow;
    text-shadow: 1px 1px 1px black;
}

/* /////////////////////////////// Media Queries ///////////////////////////// */

@media screen and (max-width: 900px){
    /* Barra de Navegação */
    nav ul{
        gap: 5%;
    }
}

@media screen and (max-width: 780px){

    /* Top Bar */

    .adress{
        display:none;
    }

    .social-medias{
        padding: 2px 20px;
    }

}

@media screen and (max-width: 650px){
    .front-cover{
        font-size: 0.8em;
        overflow: auto;
    }

    header{
        margin-bottom: 40px;
    }

    header img{
        width: 60px;
    }

    nav{
        display: none;
    }

    div.top-bar{
        display: none;
    }

    footer.top-bar{
        display: block;
        position: absolute;
        width: 100%;
        top: 100%;
        transform: translateY(-100%);
    }

    .small-screens{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .small-screens h1{
        width: 100%;
        height: min-content;
        font-size: 2.3em;
    }

    .small-screens img{
        padding: 10px;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 500px){

    /* Top Bar */

    .email{
        margin-left: 5px;
    }

    .social-medias{
        padding: 2px 5px 2px 0px;
        margin-top: 4px;
    }

    .social-medias img{
        margin-right: 0px;
        padding: 0px;
    }

    .top-bar{
        padding: 8px 0px;
    }

    .top-bar p{
        padding-right: 0px;
    }
}